body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #2E2F42;
  color: #4D5AE5;
  color: #434455;
}


.header {
    font-family: "Raleway", sans-serif;
}

.header-navigation {}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio-color {
    color:#2e2f42;
}

.header-menu-list {}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-menu-link {
    color: #2e2f42;
}


.header-menu-item:hover,
.header-menu-item:focus {
    color: #404bbf;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}



.header-contact {
    font-style: normal;
    color: #434455;
}

.header-contact-list{
    color: #434455;
}


.header-contact-detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-contact-link {
    color: #434455;
}

.header-contact-detail:hover,
.header-contact-link:hover, 
.header-contact-link:focus,
.header-contact-detail:focus {
    color: #4D5AE5;


}
.hero {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.features {}

.features-list {}

.features-list-item {}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.team-list {}

.team-list-title {
    background-color: #FFFFFF;
}

.team-logo {} 

.team-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;        
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.title-text {
    font-weight: 400;
    font-size: 16px;        
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;        
    color: #434455;
}

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-logo {}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    font-family: "Raleway", sans-serif;
    background-color: #2E2F42;
    color: #4d5ae5;
}

.footer-link {
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer-studio-color {
    color: #f4f4fd;
}