bode {
  font-family: 'Roboto', 'Raleway',san-serif;
}

.header {}

.header-navigation {}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

.header-logo-color {
    color: var(--iris);
}

.header-menu-list {}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.header-menu-link {}

.header-contact {}

.header-contact-list {}

.header-contact-detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.header-contact-link {}

.hero {}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}

.features {}

.features-list {}

.features-list-item {}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.team {}

.team-title {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.team-list {}

.team-list-title {}

.team-logo {} <!--Finish later-->

.team-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;        
    letter-spacing: 0.02em;
    text-align: enter;
    color: var(--navy-blue);
}

.title-text {
    font-weight: 400;
    font-size: 16px;        
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;        
    color: var(--slate);
}

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-logo {}< !--Finish later-->

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.footer {}

.fotter-link {
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
.footer-color {
    color: var(--iris);
}
