body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: var(--navy-blue);
  color: var(--iris);
}
:root {
        --navy-blue: #2E2F42;
}

.header {}

.header-navigation {}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.iris-text {
    color: var(--iris);
}

.header-menu-list {}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-menu-item:hover,
.header-menu-link:hover,
.header-menu-item:focus,
.header-menu-link:focus {
    color: orange;
}



.header-contact {}

.header-contact-list {}

.header-contact-detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.header-contact-detail:hover,
.header-contact-link:hover, 
.header-contact-detail:focus,
.header-contact-link:focus {
    background: var(--iris);
    color: orange;
}
.hero {}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.hero-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}

.features {}

.features-list {}

.features-list-item {}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.team {}

.team-title {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.team-list {}

.team-list-title {}

.team-logo {} 

.team-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;        
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.title-text {
    font-weight: 400;
    font-size: 16px;        
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;        
    color: var(--slate);
}

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-logo {}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.footer {}

.fotter-link {
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
.iris-color {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
